version 5.226.0
source https://www.nuget.org/api/v2
storage: none

nuget FSharp.Core redirects:force, content:none
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.React
nuget Fable.Promise

group Demo
    source https://www.nuget.org/api/v2
    framework: netstandard2.0
    nuget FSharp.Core redirects:force, content:none
    nuget Fable.Core
    nuget Fable.Elmish
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Browser
    nuget Fable.React
    nuget Fulma
    nuget Fable.Browser.Dom
